body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 0.5rem;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 0.5rem;
}

.content {
  background: #e3f4ff;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.button-container {
  background: #e3f4ff;
  padding: 0.5rem;
  text-align: center;

}

button {
  background: white;
  border: 1px solid #eee;
  padding: 0.5rem 1.5rem;
  display: block;
  margin: 0 auto;
}